{% extends "app/base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner-slider %}

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="6000">
            <img src="{% static "app/images/banner/b1.jpg" %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="6000">
            <img src="{% static "app/images/banner/b2.jpg" %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="6000">
            <img src="{% static "app/images/banner/b3.jpg" %}" class="d-block w-100" alt="...">
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endblock banner-slider %}

{% block information %}
    <div class="container">
        <div class="row bg-success text-center p-5 text-white border-bottom shadow">
            <h1>Products</h1>
            <small class="fs-5">Dodla offers a wide range of products in both liquid milk and by-product categories. 
                liquid milk compries of 5 types of varients and the by-product comprises of 14 types of varients. 

                Dodla offers a wide range of milk products comprising of Fresh Milk, Butter, Ghee,
                Paneer, Curd, Flavoured Milk, Doodh Peda, Ice Cream and Skimmed Milk Powder.</small>
        </div>
    </div>
{% endblock information %}



{% block main-content %}
    <div class="card text-bg-light mb-3" style="max-width: 90%; margin:0px 5px 0px 62px; " >
        <br>
        <h2 class="text-center "> Dairy Products </h2>
        
        <div class="container text-center" >

            <div class="row justify-content-start">
              <div class="col-4">
                <img src="{% static 'app/images/product/buffalo-ghee.png' %}" class="img-responsive " width=auto height=200>
                <b>Buffalo Ghee</b>
                </div>
              <div class="col-4">
                <img src="{% static 'app/images/product/cow-ghee.png' %}" class="img-responsive " width=auto height=200>
                <b>Cow Ghee</b>
            </div>
            </div>
            <br><br>
            <div class="row justify-content-center">
              <div class="col-4">
                <img src="{% static 'app/images/product/cow-milk.png' %}" class="img-responsive" width=auto height=200>
                <b>Cow Milk</b>
            </div>
              <div class="col-4">
                <img src="{% static 'app/images/product/curd-premium.png' %}" class="img-responsive " width=auto height=200>
                <b>Curd Premimu</b>
            </div>
            </div>
            <br><br>
            <div class="row justify-content-end">
              <div class="col-4">
                <img src="{% static 'app/images/product/curd-total.png' %}" class="img-responsive " width=auto height=200>
                <b>Curd Total</b>
            </div>
              <div class="col-4">
                <img src="{% static 'app/images/product/dbtoned-milk.png' %}" class="img-responsive " width=auto height=200>
                <b>Dbtoned Milk</b>
            </div>
            </div>
            <br><br>
            <div class="row justify-content-around">
              <div class="col-4">
                <img src="{% static 'app/images/product/fullcream-milk.png' %}" class="img-responsive " width=auto height=200>
                <b>Ful Ice Cream Milk</b>
            </div>
              <div class="col-4">
                <img src="{% static 'app/images/product/icbars.png' %}" class="img-responsive " width=auto height=200>
                <b>Ice Bars</b>
            </div>
            </div>
            <br><br>
            <div class="row justify-content-between">
              <div class="col-4">
                <img src="{% static 'app/images/product/kulfi.png' %}" class="img-responsive " width=auto height=200>
                <b>Kulfi</b>
            </div>
              <div class="col-4">
                <img src="{% static 'app/images/product/milk-shake-chocolate.png' %}" class="img-responsive " width=auto height=200>
                <b>Milk Shake Chocolate</b>
            </div>
            </div>
            <br><br>
            <div class="row justify-content-evenly">
              <div class="col-4">
                <img src="{% static 'app/images/product/milk-shake-strawberry.png' %}" class="img-responsive " width=auto height=200>
                <b>Milk Shake Straberry</b>
            </div>
              
            </div>
          </div>


            
             
        </div>
    </div>
{% endblock main-content %}









<img src="{% static 'app/images/product/curd-premium.png' %}" class="img-responsive " width=auto height=200>